*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header{
    height: 10vh;
    background-color: rgb(221, 186, 143);
}
#icon a{
    text-decoration: none;
    color: white;
}

#icon{
    font-size: 35px;
    line-height: 10vh;
    margin-left: 5%;
    cursor: pointer;
}
#social{
    font-size: 35px;
    line-height: 10vh;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 0%;
}
#social i{
    margin-left: 20px;
    cursor: pointer;
}
#social .facebook{
    text-decoration: none;
    color: rgb(79, 79, 238);
}
#social .instagram{
    text-decoration: none;
    color: rgb(170, 29, 29);
}
#social .youtube{
    text-decoration: none;
    color: red;
}

#parent{
        width: 80%;
        height: 90vh;
        margin-left: 10%;
}
#filter{
    width: 25%;
    height: 70%;
    margin-top: 10vh;
    margin-left: 3%;
    float: left;

}
#meal{
    width: 60%;
    height: 85%;
    margin-top: 10vh;
    margin-left: 2%;
    float: left;
}

#filter >h2{
    text-align: center;
}
#filter > .box > input{
    margin-left: 7%;
    padding-top: 15%;
}
#filter >.box{
    margin-top: 10%;
    border-top: 1px dotted gray;
}
.box > h3{
    margin-top: 3%;
}
#meal .mealbox .img{
    width: 50%;
}

#meal img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-size: contain;
}
#meal .details {
    margin-left: 5%;
}
#meal .details .btn{
padding: 3px 6px;
border: none;
border-radius: 5px;
margin-top: 2%;
margin-bottom: 5%;
color: blueviolet;
font-weight: bold;
border: 2px solid transparent;
cursor: pointer;

}
#meal .details .pro_btn{
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    margin-left: 2.5%;
    color: blueviolet;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}

#meal .details .btn:hover{
    border: 2px solid blueviolet;
}
#meal .details .pro_btn:hover{
background-color: blueviolet;
color: white;
}
#meal > .mealbox{
    display: flex;
    box-shadow: 1px 1px 10px 1px gray;
    border-radius: 10%;
    margin-bottom: 5%;
    height: 250px;
    width: 50vw;
}
.mealbox > .details > h2{
    margin-top: 6%;
}
#meal .mealbox .details i{
    color: darkorange;
}

@media screen and (max-width:1113px){
    #meal .mealbox h2{
        font-size: 1rem;
    }
 
}
@media screen and (max-width:1005px){

#meal .mealbox .btn{
    padding: 0 0;
}
#meal .mealbox .btn{
    padding: 0 0;
}
}
@media screen and (max-width:879px){
    #meal .mealbox .btn{
        font-size: 70%;
    }
    #meal .mealbox a .pro_btn{
        padding: 2px 20px;
    }
    #meal .mealbox p{
        font-size: 90%;
    }

}

@media screen and (max-width:879px){
    #meal .mealbox p{
        font-size: 70%;
    }
   
    #meal .mealbox a .pro_btn{
        padding: 2px 8px;
        font-size: 80%;
    }
    #details .btn{
        display: block;
    }
    #meal .mealbox{
        height: 180px;
    }
}
@media screen and (max-width:733px){
    #filter{
        display: flex;
        font-size: 70%;
    }
    #meal .mealbox:first-child{
        margin-top: -10%;
    }
    #meal{
        width: 100%;
    }
    #meal .mealbox .img{
        width: 50%;
    }
  
    #filter .box{
        margin-left: 8%;
        width: 30vw;
    }
    #filter {
        width: 100%;
        height: auto;
    }
    #filter h2{
        font-size: 25px;
        position: absolute;
        top: 20%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }
 #meal .mealbox{
    width: 80vw;
 }
}

@media screen and (max-width:527px){
#filter .box{
    margin-left: 6%;
    }
}