*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header{
    height: 10vh;
    background-color: rgb(221, 186, 143);
}

#icon{
    font-size: 35px;
    line-height: 10vh;
    margin-left: 5%;
    cursor: pointer;
}
#social{
    font-size: 35px;
    line-height: 10vh;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 0%;
}
#social i{
    margin-left: 20px;
    cursor: pointer;
}
#social .facebook{
    text-decoration: none;
    color: rgb(79, 79, 238);
}
#social .instagram{
    text-decoration: none;
    color: rgb(170, 29, 29);
}
#social .youtube{
    text-decoration: none;
    color: red;
}

#parent{
        width: 80%;
        height: 90vh;
        margin-left: 10%;
}
#filter{
    width: 25%;
    height: 70%;
    margin-top: 10vh;
    margin-left: 3%;
    float: left;

}
#meal{
    width: 60%;
    height: 85%;
    margin-top: 10vh;
    margin-left: 2%;
    float: left;
}

#filter >h2{
    text-align: center;
}
#filter > .box > input{
    margin-left: 7%;
    padding-top: 15%;
}
#filter >.box{
    margin-top: 10%;
    border-top: 1px dotted gray;
}
.box > h3{
    margin-top: 3%;
}

#meal img{
    width: 360px;
    height: 250px;
    border-radius: 30px;
    background-size: contain;
}
#meal .details{
    position: absolute;
    right: 20%;
}
#meal .details .btn{
padding: 3px 6px;
border: none;
border-radius: 5px;
margin-top: 2%;
margin-bottom: 5%;
color: blueviolet;
font-weight: bold;
border: 2px solid transparent;
cursor: pointer;

}
#meal .details .pro_btn{
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    margin-left: 2.5%;
    color: blueviolet;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}

#meal .details .btn:hover{
    border: 2px solid blueviolet;
}
#meal .details .pro_btn:hover{
background-color: blueviolet;
color: white;
}
#meal > .mealbox{
    display: flex;
    box-shadow: 1px 1px 10px 1px gray;
    border-radius: 10%;
    margin-bottom: 5%;
    height: 250px;
}
.mealbox > .details > h2{
    margin-top: 6%;
}
#meal .mealbox .details i{
    color: darkorange;
}

