*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    color: black;
}
#dropdown{
    width: 100%;
}
#header{
    height: 10vh;
    background-color: rgb(240, 167, 95);
}
#search{
    height: 47vh;
    background: url("1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 46vh;
}
#quickSearch{
    height: 155vh;
    background-color: rgb(233, 223, 203);
}
#footer{
    height: 10vh;
    background-color: black;
}
#icon{
    font-size: 35px;
    line-height: 10vh;
    margin-left: 5%;
    cursor: pointer;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 5px gray;
}
#social{
    font-size: 35px;
    line-height: 10vh;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 0%;
}
#social i{
    margin-left: 20px;
    cursor: pointer;
}
#social .facebook{
    text-decoration: none;
    color: rgb(79, 79, 238);
}
#social .instagram{
    text-decoration: none;
    color: rgb(170, 29, 29);
}
#social .youtube{
    text-decoration: none;
    color: red;
}

.logo{
    height: 140px;
    width: 140px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    animation: move 10s infinite linear;
}
@keyframes move{
    0%{
        margin-left: 0%;
    }
    25%{
        margin-left: 20%;
    }
    50%{
        margin-left: 0%;
    }
    75%{
        margin-left: -20%;
    }
    100%{
        margin-left: 0%;
    }
}
.logo >span{
    font-size: 60px;
    font-weight: 700;
    color: red;
}
.heading span{
    text-transform: capitalize;
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 35px gray;
    font-weight: bolder;
    position: absolute;
    left: 30%;
    top: 35%;
}
#dropdown #city{
    font-size: 25px;
}
#dropdown #rest{
    font-size: 25px;
}
#dropdown{
    position: absolute;
    top: 47%;
    left: 50%;
    width: 50vw;
    transform: translate(-50%, -50%);
}
#maincontainer{
    width: 80%;
    height: 150vh;
    margin-left: 10%;
    position: absolute;
    top: 60%;
}
.quick{
    font-size: 25px;
    font-weight: 800;
    color: red;

}
#head p{
    margin-left: 3%;
    margin-top: 1%;
}
.boxes{
    height: 300px;
    width: 30%;
    float: left;
    margin-left: 2.5%;
    margin-top: 3%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    box-shadow: 10px 20px 10px gray;
    animation: shake 5s infinite linear;
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.boxes > .img > img{
    width: 100%;
    height: 180px;
    font-size: 30px;
}
.boxes .heading{
    text-align: center;
}
.boxes:hover{
    transform: scale(1.02);
}
.boxes > .heading > h2{
    animation: offer 1.5s infinite linear;
}

#footer{
    color: white;
    text-align: center;
    line-height: 10vh;
}
@keyframes offer{
    0%{
        color: green;
        transform: rotate(1deg);
    }
    100%{
        color: indigo;
        transform: rotate(-1deg);
    }
}

@media screen and (max-width: 1390px){
    .logo {
        height: 109px;
        width: 109px;
    }
    .logo >span {
        font-size: 52px;
    }
    #dropdown{
        left: 55%;
    }
    #dropdown #city {
        font-size: 18px
    }
    #dropdown #rest {
        font-size: 18px
    }
    .heading span {
        font-size: 30px;
        left: 30%;
        top: 35%;
    }
  
     
}
@media screen and (max-width: 1052px){
    #dropdown{
        position: absolute;
        top: 47%;
        display: flex;
        text-align: center;
    }
    .heading span {
        font-size: 23px;
        left: 33%;
        top: 36%;
    }
    .logo{
        left: 48%;
        top: 17%;
    }
}
@media screen and (max-width: 788px){
    #dropdown{
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    h1{
        font-size: 120%;
        margin-top: 15%;
    }
    h2{
        font-size: 80%;
    }

}
@media screen and (max-width: 680px){
    #dropdown{
        left: 38%;
    }
    .heading span{
        left: 21%;
    }
    .boxes{
        width: 45%;
        margin-top: 7%;
        margin-left: 5%;
    }
    #quickSearch {
        height: 256vh;
    }
    .logo{
        left: 42%;
    }
}
@media screen and (max-width: 500px){
    .boxes{
        width: 90%;
        margin-top: 9%;
        margin-left: 5%;
    }
    #quickSearch {
        height: 445vh;
    }
    #dropdown{
        display: flex;
        flex-direction: column;
        margin-left: 13%;
    }
    .logo {
        left: 40%;
        top: 17%;
    }
    .heading span{
        left: 17%;
        font-size: 20px;

    }
}


